@charset "UTF-8"

* {
    font-family: Arial, Helvetica, sans-serif
    /*reigth 100%*/
    
}
body {
    background-image: linear-gradient(to left, #6699FF, #7F66FF);
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #00070f;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color: #26BEFF;
    text-align: center;
    text-shadow: 1px 1px 2px #001733;


}
h2{
    color: #B8B8CC;

}
p{
    text-align: justify;
    

}